/* .div-cabecalho{
    margin-top: -15vh;
    position: fixed;
    width: 100%;
    height: 7vh;
    background-color: #013308;
    display: flex;
    align-items: flex-end;
}

.div-cabecalho>.nome-token{
    float: left;
    width: 90%;
}

.nome-token>h4, h5{
    float: left;
    color: white;
    padding: 1vh;
}

.content>.foto-usuario{
    width: 10%;
    color: white;    
}

img{
    height: 30%;
    width: 30%;
}

.link{
    float: left;
} */

