.form-login {
    margin: 7% auto;
}

/* .div-login{
    margin: auto;
    text-align: center;
    margin-top: 15vh;
    align-items: center;

}

.div-login>p{
    font-size: .75rem;
}

.div-content{
    display: block;
    width: 30vw;
    height: 45vh;
    padding: 2vw 3vh;
    background-color: white;
    border: 1px solid #44533f;
    border-radius: 2vh;
    text-align: left;
    margin: auto;
}

.cadastro-usuario{
    height: 55vh;
}

.form-control{
    border-radius: 1vh !important;
}

.form-control:focus{
    border: 1px solid green !important; 
    box-shadow: 0 0 8px green !important; 
  }

.btn-block{
    margin: auto;
    width: 50% !important;
    border-radius: 1vh;
    background-color: #3b5534;
    border: none;
    color: white;
}

.novo-cadastro{
    margin: 1vh;
    text-align: center;
}

.novo-cadastro>a{
    color: #3b5534 !important;
} */
